button:focus {
	outline: none;
}

button {
	margin: 10px;
	background: none;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
}

.yellow {
	color: yellow;
	border-color: yellow;
}

.yellow:hover,
.yellow:focus {
	background: yellow;
	color: black;
}

.green {
	color: green;
	border-color: green;
}

.green:hover,
.green:focus {
	background: green;
	color: white;
}

.red {
	color: red;
	border-color: red;
}

.red:hover,
.red:focus {
	background: red;
	color: white;
}

.blue {
	color: blue;
	border-color: blue;
}

.blue:hover,
.blue:focus {
	background: blue;
	color: white;
}

.black {
	color: black;
	border-color: black;
}

.black:hover,
.black:focus {
	background: black;
	color: white;
}

.white {
	color: white;
	border-color: white;
}

.white:hover,
.white:focus {
	background: white;
	color: black;
}

.rebeccapurple {
	color: rebeccapurple;
	border-color: rebeccapurple;
}

.rebeccapurple:hover,
.rebeccapurple:focus {
	background: rebeccapurple;
	color: white;
}